 body {
     font-family: sans-serif;
     padding: 20px;
 }

 h2{
    text-align: center;
 }

 .task {
     margin: auto;
     padding: 10px;
     border: 1px solid #ccc;
     max-width: 400px;
 }

 input {
     /* width: 220px; */
     /* height: 30px; */
     padding: 10px;
 }

 button {
     width: 120px;
     height: 35px;
     margin-top: 5px;
     background-color: rgb(121, 74, 123);
     color: white;
 }

 .output {
     margin-top: 5px;
     color: rgb(22, 104, 106);
 }